// Copyright LightLord 2022 ©
//FlexCSS is the Ultimate CSS Framework to suit your needs
//It is fully customizable and easy to use
//It is suitable for beginners and advanced alike

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

$blue: #0032DA;
$dark-blue: #06007E;
$dark-dark-blue: #00124D;
$navy-blue: #1E4575;
$purple: #5B3FB6; 
$pink: #B90095;
$orange: #CA3400;
$green: #00921A;
$yellow: #ffc82c;
$gold: #C79300;
$gray-dark: #273444;
$gray: #8492a6;
$gray-light: #d3dce6;
$white: #FFFFFF;
$black: #000000;
$dark-red: #A80000;
$red: #FF0000;

.blue {
	color: $blue;
}

.dark-blue {
  color: $dark-blue;
}

.dark-dark-blue {
  color: $dark-dark-blue;
}

.red {
  color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-dark-dark-blue {
  background-color: $dark-dark-blue;
}

.bg-red {
  background-color: $red;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: $red;
}

.border-blue-white {
  color: $blue;
  background-color: white;
  border-color: $blue;
}

.border-white-blue {
  color: white;
  background-color: $blue;
  border-color: white;
}

